<div class="modal fade" id="helloModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    <div class="modal-header">
      <h4 class="super-heading" id="myModalLabel">Hello World!</h4>
    </div>
    <div class="modal-body">
      <div class="text">
        <p class="paragraph">
          As web developers, we have all used this phrase. It's a starting point, an
          ensurance that we can communicate, that we have a basic handle on a particular
          language, framework or library.
        </p>
        <p class="paragraph">
          But it's more than just that. It's an introduction, a call to action and it's a
          reminder of why we code: to connect people around the globe. To share our stories,
          ideas, and values.
        </p>
        <p class="paragraph">
          So, once again: <span class="emphasize">Hello World!</span>
        </p>
      </div>
      <div class="modal-form">
        <h2 class="heading-2">Testing the form set-up.</h2>
      </div>
    </div>
    <div class="modal-footer">
      <button class="mybtn small dialog-bottom-right bold" data-dismiss="modal">Close</button>
    </div>

    </div>
  </div>
</div>
