.btn {
  display: inline-block;
  appearance: none;
  background: none;
  color: main-color('licorice');
  border: solid 2px main-color('licorice');
  height: $base-line-height * 2;
  padding: 0 1rem;
  font-size: type-scale(-1);
  @include transition(all 0.3s);
  &:hover {
    background-color: main-color('licorice');
    color: main-color('steelblue');
  }
}
