// Testing
.mybtn {
  display: inline-block;
  appearance: none;
  background: none;
  color: soft-color('blueish');
  border: solid 1px soft-color('bluesih');
  padding: 0 1rem;
  font-size: type-scale(-1);
  @include transition(all 0.3s);
  &:hover,
   {
    background-color: soft-color('blueish');
    color: soft-color('honeydew');
  }
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}

.dialog-bottom-right,
.dialog-bottom-left,
.dialog-top-right,
.dialog-top-left {
  font-size: type-scale(1);
  text-align: center;
  vertical-align: middle;
  height: $base-line-height * 5;
  width: $base-line-height * 5;
  margin-right: $base-line-height * 0.5;
}
.dialog-bottom-right {
  border-radius: 50% 50% 0 50%;
}
.dialog-bottom-left {
  border-radius: 50% 50% 50% 0;
}
.dialog-top-right {
  border-radius: 0 50% 50% 50%;
}
.dialog-top-left {
  border-radius: 50% 0 50% 50%;
}
