/*============================================================================
  #forms
==============================================================================*/

form{
  margin:0;

  textarea,
  textarea.form-control,
  select,
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    @include type-setting(-1);
    letter-spacing: 0.075rem;
    color: main-color('chartreuse');
    border: solid 2px main-color('platinum');
    border-radius: 0;
    background: none;
    padding: 0 $base-line-height;
    box-shadow: none;
    @include transition(all 0.3s ease-in);

    @include placeholder (main-color('chartreuse'));

    &:focus{
      border-color: main-color('chartreuse');
      @include placeholder(main-color('platinum'));
      outline: 0;
      box-shadow: none;
    }
  }

  textarea.form-control{
    height: $base-line-height * 6;
    padding: $base-line-height * 0.25 $base-line-height
  }

  .button{
    width:100%;
  }

  input{
    &[type="checkbox"]{
      margin:0;
      vertical-align: middle;
    }
  }
}
