*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// Root settings
html {
  background-color: soft-color('honeydew');
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  @media only screen and (min-width: $break-medium) {
    font-size: 18px;
  }
}

a {
    text-decoration: none;
    @include transition(color 0.3s);
		&:hover {
			color: soft-color('blueish');
      text-decoration: none;
		}
    &:focus {
      outline: 0;
      text-decoration: none;
    }

}

.container {
  width: 75%;
  margin: 0 auto;
}
