body {
  background-color: main-color('platinum');
}

header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: main-color('raisin-black');
  border-bottom: 2px solid main-color('chartreuse') ;
  opacity: 0.95;
  @extend %clearfix;
  .header-row {
    @include row();
    width: 95%;
    margin: 0 auto;
  }
  .header-nav {
    @include col(1, 1);
  }
}

section {
  padding: $base-line-height * 4 0;
}
