body {
  background-color: main-color('platinum');
}

header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  // background-color: main-color('raisin-black');
  // opacity: 0.95;
  @extend %clearfix;
  .header-row {
    @include row();
    width: 95%;
    margin: 0 auto;
  }
  .header-nav {
    @include col(1, 1);
  }
}

// section {
//   padding: $base-line-height * 4 0;
// }

div.photo-break {
	background: url('../images/IMG_5911.jpg') no-repeat fixed;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	height: 1100px;
	position: relative;
}
