// svg wrapper
.logo-wrapper{
  margin: $base-line-height auto;
  width: 80%;
  @media only screen and (min-width: $break-medium) {
    width: 65%;
  }
  @media only screen and (min-width: $break-large) {
    width: 50%;
  }
}

#logo{
  .st0{
    fill: main-color('chartreuse');
    @include transition(0.3s ease);
  }
  .st1{
    fill: main-color('myrtle-green');
    @include transition(0.3s ease);
  }
  &:hover{
    #q{
      fill: main-color('chartreuse');
    }
  }
}
