// svg wrapper
.logo-wrapper{
  display: inline-block;
  margin: $base-line-height * 0.5 auto;
}

#logo{
  width: 100%;
  height: 48px;
  #brackets{
    fill: main-color('myrtle-green')
  }
  #b, #a{
    fill: main-color('myrtle-green');
    @include transition(0.3s ease);
  }
  #q{
    fill: main-color('chartreuse');
    @include transition(0.3s ease);
  }
  &:hover{
    #b, #a{
      fill: main-color('chartreuse');
    }
  }
}
