header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  @extend %clearfix;
  @include transition(all 0.3s ease-in-out);
  &.nav-up {
    top: -$base-line-height * 3;
    background-color: main-color('raisin-black');
  }
  &.nav-down {
    background-color: main-color('raisin-black');
  }
  .header-row {
    @include row();
    width: 95%;
    margin: 0 auto;
  }

  .header-nav {
    @include col(1, 1);
  }

  nav {
    display: none;
    float: right;
    margin: $base-line-height 0;
    li.menu-item{
      // display: inline-block;
      margin-bottom: $base-line-height * 2;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a.nav-link {
      @include type-setting(0);
      display: inline-block;
      font-weight: $light;
      letter-spacing: 0.2rem;
      color: main-color('platinum');
      text-transform: uppercase;
      @include transition(0.3s ease);
      &:hover {
        color: main-color('chartreuse');
      }
      &:focus {
        color: main-color('chartruse');
      }
    }
  }
}
